<!DOCTYPE html>
<html lang="en">

<head>
    <title>PiSensorHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Temperature and humidity sensor</h1>

            <div id="temp-humid">
                <p class="temp"></p>
                <p class="humid"></p>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

<script>
    function updateTemperatureAndHumidity() {
        $.ajax('/api/temperature-and-humidity')
            .done(function (data) {
                var jsonObj = JSON.parse(data);

                console.log(jsonObj);

                $('.temp').text(jsonObj.temperature);
                $('.humid').text(jsonObj.humidity);
            });
    };

    $(document).ready(function(){
        updateTemperatureAndHumidity();

        setInterval(function () {
            updateTemperatureAndHumidity();
        }, 60000); // Every Minute
    });
</script>

</html>